# configurations
.idea
.vscode
.zed
.claude

# crawlee and apify storage folders
apify_storage
crawlee_storage
storage

# installed files
node_modules

# git folder
.git
.github

# build artifacts
dist
coverage

# dev-only files
tests
.editorconfig
.prettierrc
.env.example
eslint.config.mjs
vitest.config.ts
